<!doctype html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Food Code Proudly Presents By Themexpert</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>

	<!-- Css -->
	<link rel="stylesheet" href="{% static '/Foodblog/css/nivo-slider.css/' %}" type="text/css" />
	<link rel="stylesheet" href="{% static '/Foodblog/css/owl.carousel.css/' %}"> 
	<link rel="stylesheet" href="{% static '/Foodblog/css/owl.theme.css/' %}">
	<link rel="stylesheet" href="{% static '/Foodblog/css/bootstrap.min.css/' %}">
	<link rel="stylesheet" href="{% static '/Foodblog/css/font-awesome.min.css/' %}">
	<link rel="stylesheet" href="{% static '/Foodblog/css/style.css/' %}">
	<link rel="stylesheet" href="{% static '/Foodblog/css/responsive.css/' %}">

	<!-- jS -->
	<script src="{% static '/Foodblog/js/jquery.min.js/' %}" type="text/javascript"></script>
	<script src="{% static '/Foodblog/js/bootstrap.min.js/' %}" type="text/javascript"></script>
	<script src="{% static '/Foodblog/js/jquery.nivo.slider.js/' %}" type="text/javascript"></script>
	<script src="{% static '/Foodblog/js/owl.carousel.min.js/' %}" type="text/javascript"></script>
	<script src="{% static '/Foodblog/js/jquery.nicescroll.js/' %}"></script>
	<script src="{% static '/Foodblog/js/jquery.scrollUp.min.js/' %}"></script>
	<script src="{% static '/Foodblog/js/main.js/' %}" type="text/javascript"></script>


</head>
<body>

<!-- TOP HEADER Start
    ================================================== -->
	
	<section id="top">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<p class="contact-action"><i class=""></i>En caso de alguna duda llamar a este número: <strong>+54 11 25202730</strong></p>
				</div>
				<div class="col-md-3 clearfix">
					<ul class="login-cart">
						<li>
							<a data-toggle="modal" data-target="" href="{% url 'formulario' %}">
							<i class=""></i>
								Sign
							<a data-toggle="modal" data-target="" href="{% url 'login' %}">
							<i class=""></i>
								Login
							</a>
						</li>
						<li>
							<div class="cart dropdown">
						  		<a data-toggle="modal" href="{% url 'logout' %}"><i class=""></i>Logout</a>
					  			<div class="dropdown-menu dropup">
					  				<span class="caret"></span>
						  			<ul class="media-list">
								  		<li class="media">
										    <img class="pull-left" src="{% static '/Foodblog/images/user/' %}" alt="">
										    <div class="media-body">
										      	<h6>Usuario:
								    				<span>"User"</span>
								    			</h6>
								    		</div>
								  		</li>
									</ul>
									<button class="btn btn-primary btn-sm">Logout</button>
							    </div>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<div class="search-box">
						<div class="input-group">
					    	<input placeholder="Search Here" type="text" class="form-control">
					      	<span class="input-group-btn">
					        	<button class="btn btn-default" type="button"></button>
					      	</span>
					    </div><!-- /.input-group -->
					</div><!-- /.search-box -->
				</div>
			</div> <!-- End Of /.row -->
		</div>	<!-- End Of /.Container -->

	
	<!-- MODAL Start
    	================================================== -->

		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		    		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Ingresa tus datos para el registro</h4>
		      		</div>
			      	<div class="modal-body clearfix">

						<form action="#" method="POST" id="create-account_form" class="std"> {% csrf_token %}
							<fieldset>
								<h3>Crea tu cuenta</h3>
								<div class="form_content clearfix">
									<h4>Ingrese sus datos.</h4>
									<p class="text">
										<label for="user_create">Usuario</label>
										<span>
											<input placeholder="Usuario"  type="text" id="user_create" name="usuario" value="" class="account_input">
					                    </span>
									</p>
									<p class="text">
										<label for="email_create">E-mail address</label>
										<span>
											<input placeholder="Correo electrónico"  type="text" id="email_create" name="email" value="" class="account_input">
					                    </span>
									</p>
									<p class="text">
										<label for="passwd">Contraseña</label>
											<span><input placeholder="Contraseña" type="password" id="passwd" name="contraseña" value="" class="account_input"></span>
									</p>
									<p class="submit">
										<button type="submit" class="btn btn-primary">Crea tu cuenta</button>
									</p>
								</div>
							</fieldset>
						</form>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      	</div>
		    	</div>
		  	</div>
		</div>	


					<!-- Aquí separo los modal de signup y login -->


		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		    		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Ingresa tus datos para el registro</h4>
		      		</div>
			      	<div class="modal-body clearfix">
			      		<form action="" method="POST" id="login_form" class="std">

							{% csrf_token %}

							<fieldset>
								<h3>¿Ya estás registrado?</h3>
								<div class="form_content clearfix">
									<p class="text">
									<label for="user">Usuario</label>
										<span><input placeholder="Ingrese nombre de usuario" type="text" id="user" name="user" value="" class="account_input"></span>
									</p>
									<p class="text">
									<label for="passwd">Contraseña</label>
										<span><input placeholder="Contraseña" type="password" id="passwd" name="passwd" value="" class="account_input"></span>
									</p>
									<p class="lost_password">
										<a href="#popab-password-reset" class="popab-password-link">Olvidaste tu contraseña?</a>
									</p>
									<p class="submit">
										<button class="btn btn-success">Log in</button>
									</p>
								</div>
							</fieldset>
						</form>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      	</div>
		    	</div>
		  	</div>
		</div>
	</section>  <!-- End of /Section -->
	

	<!-- LOGO Start
    ================================================== -->
	
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="{% url 'about' %}">
						<img src="{% static '/Foodblog/images/logo2.png/' %}" alt="logo">
					</a>
				</div>	<!-- End of /.col-md-12 -->
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</header> <!-- End of /Header -->

	


	<!-- MENU Start
    ================================================== -->

	<nav class="navbar navbar-default">
		<div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div> <!-- End of /.navbar-header -->

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav nav-main">
		        	<li class="active"><a href="{% url 'home' %}">INICIO</a></li>
					<li><a href="{% url 'blog' %}">BLOG</a></li>
					<li><a href="{% url 'profiles' %}">PERFIL</a></li>
					<li><a href="{% url 'about' %}">ABOUT US</a></li>
					<li class="dropdown">
						<a href="">
							PAGES
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
						   <li><a  href="#">Receta de Tequeños</a></li>
						    <li><a  href="#">Receta de Arepas</a></li>
						    <li><a  href="#">Receta de Cachapas</a></li>
						    <li><a  href="#">Receta de Pabellón</a></li>
						</ul>
					</li> <!-- End of /.dropdown -->

					
		        </ul> <!-- End of /.nav-main -->
		    </div>	<!-- /.navbar-collapse -->
		</div>	<!-- /.container-fluid -->
	</nav>	<!-- End of /.nav -->


	<!-- SLIDER Start
    ================================================== -->


	<section id="slider-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="slider" class="nivoSlider">
				    	<img src="{% static '/Foodblog/images/arepa.jpg/' %}" alt="" />
				    	<img src="{% static '/Foodblog/images/tequeños.jpg/' %}" alt=""/>
				    	<img src="{% static '/Foodblog/images/cachapa.jpg/' %}" alt="" />
					</div>	<!-- End of /.nivoslider -->
				</div>	<!-- End of /.col-md-12 -->
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</section> <!-- End of Section -->


	
	



	<!-- CATAGORIE Start
    ================================================== -->

	<section id="catagorie">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<div class="block-heading">
							<h2>CATEGORÍAS</h2>
						</div>	
						<div class="row">
						  	<div class="col-sm-6 col-md-4">
							    <div class="thumbnail">
							    	<a class="catagotie-head" href="{% url 'building' %}">
										<img src="{% static '/Foodblog/images/category-image-1.jpg/' %}" alt="...">
										<h3>Principales</h3>
									</a>
							      	<div class="caption">
							        	<p>Presiona en la imagen o en el botón de abajo y comienza a preparar todas nuestras recetas</p>
							        	<p>
							        		<a href="{% url 'building' %}" class="btn btn-default btn-transparent" role="button">
							        			<span>Ingresa acá</span>
							        		</a>
							        	</p>
							      	</div>	<!-- End of /.caption -->
							    </div>	<!-- End of /.thumbnail -->
						  	</div>	<!-- End of /.col-sm-6 col-md-4 -->
						  	<div class="col-sm-6 col-md-4">
							    <div class="thumbnail">
							    	<a class="catagotie-head" href="{% url 'building' %}">
										<img src="{% static '/Foodblog/images/category-image-2.jpg/' %}" alt="...">
										<h3>Vegetarianas</h3>
									</a>
							      	<div class="caption">
							        	<p>Si eres amante de los vegetales y prefieres evitar las carnes esta sección es para ti</p>
							        	<p>
							        		<a href="{% url 'building' %}" class="btn btn-default btn-transparent" role="button">
							        			<span>Ingresa acá</span>
							        		</a>
							        	</p>
							      	</div>	<!-- End of /.caption -->
							    </div>	<!-- End of /.thumbnail -->
						  	</div>	<!-- End of /.col-sm-6 col-md-4 -->
						  	<div class="col-sm-6 col-md-4">
							    <div class="thumbnail">
							    	<a class="catagotie-head" href="{% url 'building' %}">
										<img src="{% static '/Foodblog/images/category-image-3.jpg/' %}" alt="...">
										<h3>Postres</h3>
									</a>
							      	<div class="caption">
								        <p>Si lo tuyo son los dulces empieza prepara todas las recetas de postres que tenemos pata ti</p>
								        <p>
								        	<a href="{% url 'building' %}" class="btn btn-default btn-transparent" role="button">
								        		<span>Ingresa acá</span>
								        	</a>
								        </p>
								    </div>	<!-- End of /.caption -->
							    </div>	<!-- End of /.thumbnail -->
						  	</div>	<!-- End of /.col-sm-6 col-md-4 -->
						</div>	<!-- End of /.row -->
					</div>	<!-- End of /.block --> 
				</div>	<!-- End of /.col-md-12 -->
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</section>	<!-- End of Section -->



	
		<!-- PRODUCTS Start
    ================================================== -->

	<section id="products">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="products-heading">
						<h2>RECETAS DESTACADAS</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="products">
						<a href="{% url 'building' %}">
							<img src="{% static '/Foodblog/images/product-image.jpg/' %}" alt="">
						</a>
						<a href="{% url 'building' %}">
							<h4>Amazing Italian Sauces</h4>
						</a>
						<a class="view-link shutter" href="{% url 'building' %}">
							<i class=""></i>Ver Receta</a>
					</div>	<!-- End of /.products -->
				</div>	<!-- End of /.col-md-3 -->
				<div class="col-md-3">
					<div class="products">
						<a href="{% url 'building' %}">
							<img src="{% static '/Foodblog/images/product-image-2.jpg/' %}" alt="">
						</a>
						<a href="{% url 'building' %}">
							<h4>Amazing Italian Sauces</h4>
						</a>
						<a class="view-link shutter" href="{% url 'building' %}">
							<i class=""></i>Ver Receta</a>
					</div>	<!-- End of /.products -->
				</div> <!-- End Of Col-md-3 -->
				<div class="col-md-3">
					<div class="products">
						<a href="{% url 'building' %}">
							<img src="{% static '/Foodblog/images/product-image-3.jpg/' %}" alt="">
						</a>
						<a href="{% url 'building' %}">
							<h4>Amazing Italian Sauces</h4>
						</a>
						<a class="view-link shutter" href="{% url 'building' %}">
							<i class=""></i>Ver Receta</a>
					</div>	<!-- End of /.products -->
				</div> <!-- End Of /.Col-md-3 -->
				<div class="col-md-3">
					<div class="products">
						<a href="{% url 'building' %}">
							<img src="{% static '/Foodblog/images/product-image-4.jpg/' %}" alt="">
						</a>
						<a href="{% url 'building' %}">
							<h4>Amazing Italian Sauces</h4>
						</a>
						<a class="view-link shutter" href="{% url 'building' %}">
							<i class=""></i>Ver Receta</a>
					</div>	<!-- End of /.products -->
				</div> <!-- End Of /.Col-md-3 -->
				<div class="col-md-3">
					<div class="products">
						<a href="{% url 'building' %}">
							<img src="{% static '/Foodblog/images/product-image-5.jpg/' %}" alt="">
						</a>
						<a href="{% url 'building' %}">
							<h4>Amazing Italian Sauces</h4>
						</a>
						<a class="view-link shutter" href="{% url 'building' %}">
							<i class=""></i>Ver Receta</a>
					</div>	<!-- End of /.products -->
				</div> <!-- End Of /.Col-md-3 -->
				<div class="col-md-3">
					<div class="products">
						<a href="{% url 'building' %}">
							<img src="{% static '/Foodblog/images/product-image-6.jpg/' %}" alt="">
						</a>
						<a href="{% url 'building' %}">
							<h4>Amazing Italian Sauces</h4>
						</a>
						<a class="view-link shutter" href="{% url 'building' %}">
							<i class=""></i>Ver Receta</a>
					</div>	<!-- End of /.products -->
				</div> <!-- End Of /.Col-md-3 -->
				<div class="col-md-3">
					<div class="products">
						<a href="{% url 'building' %}">
							<img src="{% static '/Foodblog/images/product-image-7.jpg/' %}" alt="">
						</a>
						<a href="{% url 'building' %}">
							<h4>Amazing Italian Sauces</h4>
						</a>
						<a class="view-link shutter" href="{% url 'building' %}">
							<i class=""></i>Ver Receta</a>
					</div>	<!-- End of /.products -->
				</div> <!-- End Of /.Col-md-3 -->
				<div class="col-md-3">
					<div class="products">
						<a href="{% url 'building' %}">
							<img src="{% static '/Foodblog/images/product-image-8.jpg/' %}" alt="">
						</a>
						<a href="{% url 'building' %}">
							<h4>Amazing Italian Sauces</h4>
						</a>
						<div >
							<a class="view-link shutter" href="{% url 'building' %}">
								<i class=""></i>Ver Receta</a>
						</div>
					</div>	<!-- End of /.products -->
				</div> <!-- End Of /.Col-md-3 -->
			</div>	<!-- End of /.row -->
		</div>	<!-- End of /.container -->
	</section>	<!-- End of Section -->


	
	
		<!-- CALL TO ACTION Start
    ================================================== -->

	<section id="call-to-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<div class="block-heading">
							<h2>Nuestros Partners</h2>
						</div>
					</div>	<!-- End of /.block -->
					<div id="owl-example" class="owl-carousel">
						<div> <img src="{% static '/Foodblog/images/company-1.png/' %}" alt=""></div> 
						<div> <img src="{% static '/Foodblog/images/company-2.png/' %}" alt=""></div>
						<div> <img src="{% static '/Foodblog/images/company-3.png/' %}" alt=""></div>
						<div> <img src="{% static '/Foodblog/images/company-4.png/' %}" alt=""></div>
						<div> <img src="{% static '/Foodblog/images/company-.png/' %}" alt=""></div>
						<div> <img src="{% static '/Foodblog/images/company-6.png/' %}" alt=""></div>
						<div> <img src="{% static '/Foodblog/images/company-8.png/' %}" alt=""></div>
						<div> <img src="{% static '/Foodblog/images/company-9.png/' %}" alt=""></div>
					</div>	<!-- End of /.Owl-Slider -->
				</div>	<!-- End of /.col-md-12 -->
			</div> <!-- End Of /.Row -->
		</div> <!-- End Of /.Container -->
	</section>	<!-- End of Section -->
	
	

	<!-- FOOTER Start
    ================================================== -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="block clearfix">
						<a href="#">
							<img src="{% static '/Foodblog/images/footer-logo2.png/' %}" alt="">
						</a>
						<p>
							Blog dedicado a la publicaipon de recetas, para proyecto final, curso de Python para CoderHouse
						</p>
	
					</div>	<!-- End Of /.block -->
				</div> <!-- End Of /.Col-md-4 -->
				<div class="col-md-4">
					<div class="block">
						<h4>CONTACTOS</h4>
						<p ><i class=""></i> <span>Food Blog: </span>Palermo, CABA, Argentina</p>
						<p> <i class=""></i> <span>Telf. Fijo:</span> (+54) 11 25202730 </p>

						<p> <i class=""></i> <span>Celular:</span> (+54) 11 25202730</p>
 
						<p class="mail"><i class=""></i>Email: <span>jra680@gmail.com</span></p>
					</div>	<!-- End Of /.block -->
				</div> <!-- End Of Col-md-3 -->
			</div> <!-- End Of /.row -->
		</div> <!-- End Of /.Container -->
		


	<!-- FOOTER-BOTTOM Start
    ================================================== -->

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="cash-out pull-left">
							<li>
							</li>
						</ul>
						<p class="copyright-text pull-right">Food Blog @2022 Designed by <a href="https://github.com/jv680/ProyectoFinalCoder.git">José Rojas</a> All Rights Reserved</p>
					</div>	<!-- End Of /.col-md-12 -->	
				</div>	<!-- End Of /.row -->	
			</div>	<!-- End Of /.container -->	
		</div>	<!-- End Of /.footer-bottom -->
	</footer> <!-- End Of Footer -->
	
	<a id="back-top" href="#"></a>
</body>
</html>